body {
    display: flex;
    justify-content: center;
    background-color: #282825;
    font-size: 1.2em;
    color: white;
}

.container {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hide_mem {
    display: none;
}

.blok-mem-picture {
    width: 100%;
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-mem {
    width: 60vw;
    border-radius: 4%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}

.blok-desc-but {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.blok-description-mem {
    width: 50%;
}

.blok-button {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.but_checkbox {
    padding: 0.5em;
    margin: 0.5em;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    border: 3px solid #3460f1;
    background-color: #3460f1;
    cursor: pointer;
}

.but_checkbox:hover {
    background-color: white;
    border: 3px solid white;
}

#mem_1 {
    background-image: url(../assets/mem7k.jpg);
}

#mem_2 {
    background-image: url(../assets/mem5k.jpg);
}

#mem_3 {
    background-image: url(../assets/mem8k.jpg);
}

#mem_4 {
    background-image: url(../assets/mem4_2k.png);
}

/* Селекторы для переключения изображений и описаний */
#r1:checked ~ .blok-mem-picture #mem_1,
#r1:checked ~ .blok-description-mem #desc_mem_1 {
    display: block;
}

#r2:checked ~ .blok-mem-picture #mem_2,
#r2:checked ~ .blok-description-mem #desc_mem_2 {
    display: block;
}

#r3:checked ~ .blok-mem-picture #mem_3,
#r3:checked ~ .blok-description-mem #desc_mem_3 {
    display: block;
}

#r4:checked ~ .blok-mem-picture #mem_4,
#r4:checked ~ .blok-description-mem #desc_mem_4 {
    display: block;
}

/* Скрываем остальные изображения и описания */
#r1:not(:checked) ~ .blok-mem-picture #mem_1,
#r2:not(:checked) ~ .blok-mem-picture #mem_2,
#r3:not(:checked) ~ .blok-mem-picture #mem_3,
#r4:not(:checked) ~ .blok-mem-picture #mem_4 {
    display: none;
}

#r1:not(:checked) ~ .blok-description-mem #desc_mem_1,
#r2:not(:checked) ~ .blok-description-mem #desc_mem_2,
#r3:not(:checked) ~ .blok-description-mem #desc_mem_3,
#r4:not(:checked) ~ .blok-description-mem #desc_mem_4 {
    display: none;
}